<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <form class="form-horizontal" role="form">
      <h1 class"hero">Please Log In</h1>
      <div class="form-group">
        <%= label_tag :name, 'Name:' %>
        <%= text_field_tag :name, params[:name] %>
      </div>
      <div class="form-group">
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div class="form-group">
        <%= submit_tag "Login", class: "btn btn-primary" %>
      </div>
    </form>
  <% end %>

