<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmartistic Cart</h2>
<table class ="table-responsive">
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td class="table"><%= item.product.title %></td>
      <td class="table"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>

  <tr class="view-cart">
    <td colspan="2">Total</td>
    <td class="input-group"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are yousure?' }, class: "btn-blue" %>

