<!DOCTYPE html>
<html>
<head>
  <title>Art Depot</title>
  <meta name="description" content="Stephania Gambaroff Art Store">
  <meta name="keywords" content="Art, Video, Gambaroff, Contemporary, Buy, Art">
  <meta name="author" content="Gambaroff&Thomas">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name%>"> 
  <%= render 'layouts/header' %>
    <div class= "container">	
	  	<div id="tray" class="topbar" style="width: auto;">
	  		<div class="fill">
	  		  <div class="container">
	          <!-- Logo -->
	            <div class="brand">
	              <h1>Art Depot</h1>
	            </div>
	          </div>	
	  		</div>
	  	</div>
	  <div class="sidebar">
	  	<% if @cart %>
		  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
	        <%= render @cart %>
	      <% end %>
	    <% end %>  
	  </div>
      <div id="main">	  
		<div class="clearfix">  	
	      <%=yield %>
	    </div> 
	  </div>     
    </div>
  <div class="footer">		  	
  </div>  
</body>  
</html>
